/* styles.css */
.swal2-html-container {
  padding: 0 !important;
  margin: 0 !important;
}

/* Add other global styles as needed */

.card {
  position: relative;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  width: 100%;
}
.card-img {
  width: 100%;
  object-fit: contain;
}
